---
import { Icon } from '@astrojs/starlight/components';
import type { Props } from '@astrojs/starlight/props';

const { dir, labels, pagination } = Astro.props;
const { prev, next } = pagination;
const isRtl = dir === 'rtl';
---

<div class="pagination-links" dir={dir}>
	{
		prev && (
			<a href={prev.href} rel="prev" class="group">
				<Icon name={isRtl ? 'right-arrow' : 'left-arrow'} size="1.3rem" class="icon" />
        <span>{prev.label}</span>
			</a>
		)
	}
	{
		next && (
			<a href={next.href} rel="next" class="group">
				<Icon name={isRtl ? 'left-arrow' : 'right-arrow'} size="1.3em" class="icon" />
        <spans>{next.label}</span>
			</a>
		)
	}
</div>

<style>
	.pagination-links {
    @apply flex justify-between;
	}

  .icon {
    @apply text-muted-foreground group-hover:text-foreground/80;
  }

	a {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 0.5rem;
		text-decoration: none;
		overflow-wrap: anywhere;
    @apply text-foreground/90 hover:text-foreground text-sm font-semibold;
	}
	[rel='next'] {
		justify-content: end;
		text-align: end;
		flex-direction: row-reverse;
	}
 
	.link-title {
    @apply text-base;
	}

	svg {
		flex-shrink: 0;
	}
</style>